#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-scroll-locked][data-scroll-locked] {
  overflow-y: scroll !important;
  margin-right: 0 !important;
}
